*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --baseline: 10px;
  --border-width: 3px;
  --color-dark: #454545;
  --color-light: #ffffff;
  --font-system: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --font-mono: jetbrains-mono, monospace;
}

html,
html[data-theme='light'] {
  --color-fg: var(--color-dark);
  --color-bg: var(--color-light);
}

html[data-theme='dark'] {
  --color-fg: var(--color-light);
  --color-bg: var(--color-dark);
}

html {
  background: var(--color-bg);
  color: var(--color-fg);
}

input,
button {
  color: var(--color-fg);
  font-family: var(--font-system);
}

body {
  margin: 0;
  font-family: var(--font-system);
  font-size: calc(var(--baseline) * 2);
  line-height: 1.5;
  padding: 13px;
}

html,
body,
#sapper {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-mono);
  margin: 0 0 0.5em 0;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.25em;
}

h4,
h5,
h6 {
  font-size: 1em;
}

a {
  color: inherit;
}
